[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pydantic = "*"
numpy = "*"
tqdm = "*"
pillow = "*"
sklearn = "*"
matplotlib = "*"

[dev-packages]
flake8 = "*"
autopep8 = "*"
mypy = "*"
tensorflow = "*"

[requires]
python_version = "3.9"

[scripts]
test = "python -m unittest discover tests"
format = "autopep8 -ivr ."
lint = "flake8 --show-source ."
mypy = "mypy ."
